package pages

import "github.com/gokuls-codes/on-the-go/internal/web/templates"
import "github.com/moby/moby/api/types/container"

templ Containers(containers []container.Summary) {
    @templates.Base() {
        <main class="p-4">
            <h2>Containers</h2>
            <ul>
                for index, item := range containers {
                <li>{index + 1} : {item.Names[0]} - {item.Image} ({item.Status})</li>
                }
            </ul>
        </main>
    }
}