package pages

import "github.com/gokuls-codes/on-the-go/internal/web/templates"

templ Dashboard() {
    @templates.Base() {
        <main class="p-4">
            <h2>Dashboard</h2>
        </main>
    }
}